<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.bp.dao.BPOrderBarcodeDao" >
  <resultMap id="BaseResultMap" type="com.icss.bp.bean.BPOrderBarcodeBean" >
    <id column="OB_ID" property="obId" jdbcType="BIGINT" />
    <result column="OB_UUID" property="obUuid" jdbcType="VARCHAR" />
    <result column="OB_SEQUENCE" property="obSequence" jdbcType="INTEGER" />
    <result column="OB_SORT_DATE" property="obSortDate" jdbcType="TIMESTAMP" />
    <result column="OB_CIG_DERIVE_CODE" property="obCigDeriveCode" jdbcType="CHAR" />
    <result column="OB_CUSTOM_INFO" property="obCustomInfo" jdbcType="CHAR" />
    <result column="OB_RETAILER_CODE" property="obRetailerCode" jdbcType="CHAR" />
    <result column="OB_BCIG_BARCODE" property="obBcigBarcode" jdbcType="CHAR" />
    <result column="OB_TOTAL_SEQUENCE" property="obTotalSequence" jdbcType="BIGINT" />
    <result column="OB_LOCK_STEP" property="obLockStep" jdbcType="CHAR" />
    <result column="OB_LOCK_STATUS" property="obLockStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OB_ID, 
  	OB_UUID, 
  	OB_SEQUENCE, 
  	OB_SORT_DATE, 
  	OB_CIG_DERIVE_CODE, 
  	OB_CUSTOM_INFO, 
  	OB_RETAILER_CODE, 
    OB_BCIG_BARCODE, 
  	OB_TOTAL_SEQUENCE, 
  	OB_LOCK_STEP, 
  	OB_LOCK_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BP_ORDER_BARCODE
    where OB_ID = #{obId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BP_ORDER_BARCODE
    where OB_ID = #{obId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.icss.bp.bean.BPOrderBarcodeBean" >
    insert into BP_ORDER_BARCODE (OB_ID, OB_UUID, OB_SEQUENCE, 
      OB_SORT_DATE, OB_CIG_DERIVE_CODE, OB_CUSTOM_INFO, 
      OB_RETAILER_CODE, OB_BCIG_BARCODE, OB_TOTAL_SEQUENCE, 
      OB_LOCK_STEP, OB_LOCK_STATUS)
    values (#{obId,jdbcType=BIGINT}, #{obUuid,jdbcType=VARCHAR}, #{obSequence,jdbcType=INTEGER}, 
      #{obSortDate,jdbcType=TIMESTAMP}, #{obCigDeriveCode,jdbcType=CHAR}, #{obCustomInfo,jdbcType=CHAR}, 
      #{obRetailerCode,jdbcType=CHAR}, #{obBcigBarcode,jdbcType=CHAR}, #{obTotalSequence,jdbcType=BIGINT}, 
      #{obLockStep,jdbcType=CHAR}, #{obLockStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icss.bp.bean.BPOrderBarcodeBean" >
    insert into BP_ORDER_BARCODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="obId != null" >
        OB_ID,
      </if>
      <if test="obUuid != null" >
        OB_UUID,
      </if>
      <if test="obSequence != null" >
        OB_SEQUENCE,
      </if>
      <if test="obSortDate != null" >
        OB_SORT_DATE,
      </if>
      <if test="obCigDeriveCode != null" >
        OB_CIG_DERIVE_CODE,
      </if>
      <if test="obCustomInfo != null" >
        OB_CUSTOM_INFO,
      </if>
      <if test="obRetailerCode != null" >
        OB_RETAILER_CODE,
      </if>
      <if test="obBcigBarcode != null" >
        OB_BCIG_BARCODE,
      </if>
      <if test="obTotalSequence != null" >
        OB_TOTAL_SEQUENCE,
      </if>
      <if test="obLockStep != null" >
        OB_LOCK_STEP,
      </if>
      <if test="obLockStatus != null" >
        OB_LOCK_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="obId != null" >
        #{obId,jdbcType=BIGINT},
      </if>
      <if test="obUuid != null" >
        #{obUuid,jdbcType=VARCHAR},
      </if>
      <if test="obSequence != null" >
        #{obSequence,jdbcType=INTEGER},
      </if>
      <if test="obSortDate != null" >
        #{obSortDate,jdbcType=TIMESTAMP},
      </if>
      <if test="obCigDeriveCode != null" >
        #{obCigDeriveCode,jdbcType=CHAR},
      </if>
      <if test="obCustomInfo != null" >
        #{obCustomInfo,jdbcType=CHAR},
      </if>
      <if test="obRetailerCode != null" >
        #{obRetailerCode,jdbcType=CHAR},
      </if>
      <if test="obBcigBarcode != null" >
        #{obBcigBarcode,jdbcType=CHAR},
      </if>
      <if test="obTotalSequence != null" >
        #{obTotalSequence,jdbcType=BIGINT},
      </if>
      <if test="obLockStep != null" >
        #{obLockStep,jdbcType=CHAR},
      </if>
      <if test="obLockStatus != null" >
        #{obLockStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.bp.bean.BPOrderBarcodeBean" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update BP_ORDER_BARCODE
    <set >
      <if test="obUuid != null" >
        OB_UUID = #{obUuid,jdbcType=VARCHAR},
      </if>
      <if test="obSequence != null" >
        OB_SEQUENCE = #{obSequence,jdbcType=INTEGER},
      </if>
      <if test="obSortDate != null" >
        OB_SORT_DATE = #{obSortDate,jdbcType=TIMESTAMP},
      </if>
      <if test="obCigDeriveCode != null" >
        OB_CIG_DERIVE_CODE = #{obCigDeriveCode,jdbcType=CHAR},
      </if>
      <if test="obCustomInfo != null" >
        OB_CUSTOM_INFO = #{obCustomInfo,jdbcType=CHAR},
      </if>
      <if test="obRetailerCode != null" >
        OB_RETAILER_CODE = #{obRetailerCode,jdbcType=CHAR},
      </if>
      <if test="obBcigBarcode != null" >
        OB_BCIG_BARCODE = #{obBcigBarcode,jdbcType=CHAR},
      </if>
      <if test="obTotalSequence != null" >
        OB_TOTAL_SEQUENCE = #{obTotalSequence,jdbcType=BIGINT},
      </if>
      <if test="obLockStep != null" >
        OB_LOCK_STEP = #{obLockStep,jdbcType=CHAR},
      </if>
      <if test="obLockStatus != null" >
        OB_LOCK_STATUS = #{obLockStatus,jdbcType=CHAR},
      </if>
    </set>
    where OB_ID = #{obId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.bp.bean.BPOrderBarcodeBean" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update BP_ORDER_BARCODE
    set OB_UUID = #{obUuid,jdbcType=VARCHAR},
      OB_SEQUENCE = #{obSequence,jdbcType=INTEGER},
      OB_SORT_DATE = #{obSortDate,jdbcType=TIMESTAMP},
      OB_CIG_DERIVE_CODE = #{obCigDeriveCode,jdbcType=CHAR},
      OB_CUSTOM_INFO = #{obCustomInfo,jdbcType=CHAR},
      OB_RETAILER_CODE = #{obRetailerCode,jdbcType=CHAR},
      OB_BCIG_BARCODE = #{obBcigBarcode,jdbcType=CHAR},
      OB_TOTAL_SEQUENCE = #{obTotalSequence,jdbcType=BIGINT},
      OB_LOCK_STEP = #{obLockStep,jdbcType=CHAR},
      OB_LOCK_STATUS = #{obLockStatus,jdbcType=CHAR}
    where OB_ID = #{obId,jdbcType=BIGINT}
  </update>
</mapper>